<div class="container" ng-controller="LoadingController" ng-init="makeTest('<%= slug %>')">
    <div class="row">
        <!-- Container do teste -->
        <div class="col-lg-8 col-md-8 offset-2 col-sm-12 col-xs-12">
            <div class="teste-container">
                <!-- Loading container -->
                <div class="loading-container">
                    <div class="dots-loader"></div>
                    <p><strong>{{ message }}</strong></p>
                </div>
            </div>

        </div>
        <!-- /Container do teste -->
    </div>

</div>