<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Supertests | seu site de testes para facebook</title>
    <%= stylesheetTag("application.css") %>
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '258828887510894',
                xfbml      : true,
                cookie     : true,
                version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        <%= if (isloggedin) { %>
          window.loggedIn = true;
        <% } else { %>
          window.loggedIn = false;
        <% } %>
    </script>
  </head>
  <body>
    <%= partial("index/header.html") %>
      <%= yield %>
    <%= javascriptTag("application.js") %>
    <%= partial("index/footer.html") %>
  </body>
</html>
