<%= if (isloggedin) { %>
    <ul class="media-list pull-right user-card">
        <li class="media">
            <div class="media-left">
                <img src="http://graph.facebook.com/1444146562273281/picture"/>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><%= name %></h4>
                <a class="btn btn-primary btn-facebook btn-sm" href="<%= logoutPath() %>">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>&nbsp;Clique para sair
                </a>
            </div>
        </li>
    </ul>
<% } %>